.header{
    width: 263px;
    height: 84px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size:60px;
    color: #591FB2;
    margin-top: 40px;
    margin-left: 30px;
}

hr{
    min-width: 80vw;
    max-width: 100vw;
    border-color: #591FB2;
}

.subHeader {
    width: 137px;
    height: 59px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    color: #591FB2;
    margin-top: 40px;
    margin-left: 30px;
}

.btn{
    margin-top: 3px;
    background: #591FB2;
    border-color: #591FB2;
    float: right;
}

.form{
    width: 50%;
    margin-left: 30px;
}