.header{
    width: 263px;
    height: 84px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size:60px;
    color: #591FB2;
    margin-top: 40px;
    margin-left: 30px;
}

.subText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size:24px;
    color: #591FB2;
}

hr{
    min-width: 80vw;
    max-width: 100vw;
    border-color: #591FB2;
}

.subHeader {
    width: 100%;
    display: flex;
    height: 59px;
    margin-top: 40px;
    margin-left: 30px;
}

.subHeader1 {
    float: left;
    width: 50%;
}

.subHeader2 {
    flex-grow: 1;
}

.subsubHeader {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
    color: #000000;
    margin-left: 30px;
}

.graphHarian {
    margin-top: 40px; 
    width: 100%;
    display: flex;
}

.harian1 {
    float: left;
    width: 50%
}

.harian2 {
    flex-grow: 1;
}

#chartHarian1 {
    margin-left: -100px;
}

#chartHarian2 {
    margin-left: -100px;
}

.graphMingguan {
    margin-top: 40px; 
    width: 100%;
    display: flex;
}

.mingguan1 {
    float: left;
    width: 50%
}

.mingguan2 {
    flex-grow: 1;
}

#chartMingguan1 {
    margin-left: 30px;
}

#chartMingguan2 {
    margin-left: 30px;
}

.graphTahunan {
    margin-top: 40px; 
    width: 100%;
    display: flex;
}

.tahunan1 {
    float: left;
    width: 50%
}

.tahunan2 {
    flex-grow: 1;
}

.inline {
    display: inline;
}

.info {
    margin-top: 40px;
    width: 100%;
    display: flex;
}

.info-kiri {
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
}
.info-tengah {
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
}

.info-kanan {
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
}

.success-status {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 14px;
    color: #42B82F;
    margin-left: 30px;
}

.error-status {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 14px;
    color: #F72A2A;
    margin-left: 30px;
}

.toko {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    color: #000000;   
    margin-bottom: 20px;
}

.error {
    background: #F72A2A;
    color: white;
}



