{% extends "base_desktop.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index_stock_desktop.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />

{% endblock %}

{% block title %}
Intana - Inventory
{% endblock %}


{% block content %}
<p class="header">Inventory</p>
<hr>
<p class="subHeader">Kartu Stok</p>

{% if tokos %}
    {% for toko in tokos %}
        <p class="storeName">{{ toko.nama }}</p>
        <div class="accordion" id="accordionParent">
            {% for item in toko.items.all %}
                <!-- Heading Accordion -->
                <div class="card">
                    <div class="card-header" id="heading{{ item.id }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ item.id }}"
                            aria-expanded="true" aria-controls="collapse{{ item.id }}">
                            {{ item.nama }} 
                            {% if item.jumlah_tersedia < 10 %}
                            <span class="badge badge-danger">{{ item.jumlah_tersedia }}</span>
                            {% else %}
                            <span class="badge badge-success">{{ item.jumlah_tersedia}}</span>
                            {% endif %}
                            </button>
                        </h2>
                    </div>
                </div>

                <!-- Body Accordion -->
                <div id="collapse{{ item.id }}" class="collapse" aria-labelledby="heading{{ item.id }}" data-parent="#accordionPareng">
                    <div class="card-body">
                        <form action="/stock/restock/{{ item.id }}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary mb-2 button">Restock</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<script>
        $(function () {
          $("#datepicker").datepicker({
            format:'mm/dd/yyyy',
          });
        });

</script>
{% endblock %}