{% extends "base_mobile.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index_payment_mobile.css' %}" type="text/css">

{% endblock %}

{% block title %}
Intana - Inventory
{% endblock %}

{% block content %}

{% for item in items %}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ item.nama }}</span>
                <p class="subText">Harga : {{ item.harga_jual }}</p>
                <p class="subText">Stok: {{ item.jumlah_tersedia }}</p>
            </div>

            <div class="card-action">
                <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ item.id }}">Beli</a>
                <!-- Modal Structure -->

            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for item in items %}
<div id="modal{{ item.id }}" class="modal">
    <div class="modal-content">
        <h4>Konfirmasi Pembelian</h4>
        <form class="container input-hide" id="input{{item.id}}" action="/mobile/{{toko.unique_id}}/{{item.id}}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:{}" class="modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('input{{item.id}}').submit();">Beli</a>
    </div>
</div>
{% endfor %}


{% endblock %}

{% block script %}
<script src="{% static 'js/payment_mobile.js' %}"></script>
{% endblock %}