body {
    background-color: #591FB2;
}

.inline {
  display: inline;
}

#first{
  color: white;
}

#second{
  color:#84FED2;
}
  
.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 50px;
  text-align: center;
  margin-top: 140px;
}

.main-container {
  width: 60%;
  margin-top: 70px;
}

.btn {
  float: right;
  margin-right: 80px;
}