html, body {
    background-color: #591FB2;
}

.inline {
  display: inline;
}

#first{
  color: white;
}

#second{
  color:#84FED2;
}
  
.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 96px;
  text-align: center;
  margin-top: 100px;
}
  
.form {
  width: 50%;
  margin: auto;
  margin-top: 130px;
  color: white;
}

.loginbutton{
  width: 304px;
  height: 73px;
  background: #591FB2;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 0 auto; 
  display: block;
  margin-top: 50px;
}