{% load staticfiles %}
{% load static %}
 <!-- TODO NOT YET COMPLETED -->
 <!-- login
 form -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index_login_mobile.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Intana</title>
</head>
<body>
    <div class="logo">
        <p class="inline" id="first">INTANA </p>
        <p class="inline" id="second">DB</p>
    </div>

    <div class="row main-container">
        <form action="" class="col s12" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" id="username">
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s12">
                    <input type="password" class="validate" id="password">
                    <label for="password">Password</label>
                </div>
            </div>
        </form>
    </div>

    <a href="login" class="waves-effect waves-light btn teal accent-4 black-text">Login</a>
</body>
</html>