{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/index_login_desktop.css' %}" type="text/css">
    <title>Intana - Login</title>
</head>
<body>

    <div class="logo">
        <p class="inline" id="first">INTANA </p>
        <p class="inline" id="second">DB</p>
    </div>
    

    <form class="form" method="POST" action="login">
        {% csrf_token %}
        <div class="form-group">
          <label for="InputUsername1">Username</label>
          <input name="username" type="username" class="form-control" id="InputUsername1" aria-describedby="usernameHelp" placeholder="Enter Username">
        </div>

        <div class="form-group">
          <label for="InputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="InputPassword1" placeholder="Password">
        </div>
        <button href="login" type="submit" class="loginbutton">LOGIN</button>
    </form>

</body>
</html>