p {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
}

.checker {
    padding-top: 12px;
}

.input-hide {
    display: none;
}

.tableHeader {
    margin-bottom: 0px;
}
.row {
    margin-bottom: 0px;
}

.card-panel {
    padding: 9px;
}