{% extends "base_mobile.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index_stock_mobile.css' %}" type="text/css">

{% endblock %}

{% block title %}
Intana - Inventory
{% endblock %}

{% block content %}
<form action="/mobile/stock/check" method="POST" id="stockForm">
    {% csrf_token %}
    {% for toko in tokos %}
    <h6 class="storeName">{{ toko.nama }}</h6>
    <div class="row tableHeader">
        <div class="col s8">
            <p class="stockHeader">Nama Item</p>
        </div>
        <div class="col s2">
            <i class="material-icons checker">check</i>
        </div>
        <div class="col s2">
            <i class="material-icons checker">close</i>
        </div>
        {% for item in toko.items.all %}
            <div class="row itemList">
                <div class="col s8">
                    <div class="card-panel">
                        <span class="black-text">{{ item.nama }} <span class="new badge" data-badge-caption="">{{item.jumlah_tersedia}}</span></span>
                        <div class="container input-hide" id="item-{{item.id}}">
                            <div class="row input">
                                <div class="input-field col s8">
                                    <input id="jumlah{{item.id}}" type="number" class="validate" name="error-item-{{item.id}}">
                                    <label for="jumlah{{item.id}}">Jumlah</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s2">
                    <p>
                        <label>
                            <input name="item-{{item.id}}" type="radio" onclick="collapse('item-{{item.id}}')" value="1" />
                            <span></span>
                        </label>
                    </p>
                </div>
                <div class="col s2">
                    <p>
                        <label>
                            <input name="item-{{item.id}}" type="radio" onclick="expand('item-{{item.id}}')" value="0" />
                            <span></span>
                        </label>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</form>

<a href="javascript:{}" class="waves-effect waves-light btn" onclick="document.getElementById('stockForm').submit();">OK</a>
{% endblock %}

{% block script %}
<script src="{% static 'js/stock_mobile.js' %}"></script>
{% endblock %}