.header{
    width: 263px;
    height: 84px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size:60px;
    color: #591FB2;
    margin-top: 40px;
    margin-left: 30px;
}

hr{
    min-width: 80vw;
    max-width: 100vw;
    border-color: #591FB2;
}

.subHeader {
    width: 137px;
    height: 59px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    color: #591FB2;
    margin-top: 40px;
    margin-left: 30px;
}

.storeName {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 30px;
    
}

.accordion {
    width: 60%;
    margin-left: 30px;
}

.badge{
    margin-left: 550px;
}

.button{
    margin-top: 32px;
    background: #591FB2;
    border-color: #591FB2;;
}