{% extends "base_desktop.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index_additem_desktop.css' %}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
{% endblock %}

{% block title %}
Intana - Inventory
{% endblock %}

{% block content %}
<p class="header">Inventory</p>
<hr>
<p class="subHeader">Add Item</p>

<form class="form" method="POST" action="/add/adding">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<script>
        $(function () {
          $("#datepicker").datepicker({
            format:'mm/dd/yyyy',
          });
        });
</script>
{% endblock %}

{% endblock %}