{% extends "base_desktop.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index_dashboard_desktop.css' %}" type="text/css">

{% endblock %}

{% block title %}
Intana - Dashboard
{% endblock %}


{% block content %}
<p class="header">DASHBOARD</p>
<hr>
<div class="subHeader">
    <div class="subHeader1">
        <p class="title1 subText">TOTAL PENDAPATAN</p>
    </div>
    <div class="subHeader2">
        <p class="title2 subText">TOTAL KEUNTUNGAN</p>
    </div>
</div>
<div class="graphHarian">
    <div class="harian1">
        <p class="subsubHeader">Harian</p>
        <canvas id="chartHarian1" onload="chartHarian1({{pendapatanHarian.pendapatanToko1}})"></canvas>
    </div>
    <div class="harian2">
        <p class="subsubHeader">Harian</p>
        <canvas id="chartHarian2"></canvas>
    </div>
</div>
<div class="graphMingguan">
    <div class="mingguan1">
        <p class="subsubHeader">Mingguan</p>
        <canvas id="chartMingguan1"></canvas>
    </div>
    <div class="mingguan2">
        <p class="subsubHeader">Mingguan</p>
        <canvas id="chartMingguan2"></canvas>
    </div>
</div>
<div class="graphTahunan">
    <div class="tahunan1">
        <p class="subsubHeader">Tahunan</p>
        <canvas id="chartTahunan1"></canvas>
    </div>
    <div class="tahunan2">
        <p class="subsubHeader">Tahunan</p>
        <canvas id="chartTahunan2"></canvas>
    </div>
</div>
<div class="info">
    <div class="info-kiri">
        <p class="subText">Status Toko</p>
        {% for toko in tokos %}
        <div class="toko">
            <p class="inline">{{toko.nama}}</p>
            {% if toko.status == False %}
            <p class="error-status inline">NOT OK</p>
            {% else %}
            <p class="inline success-status">OK</p>
                {% if toko.discrepancy == True %}
                <div class="error">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nama</th>
                                <th scope="col">Jumlah Seharusnya</th>
                                <th scope="col">Jumlah Sekarang</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in toko.items_discrepancy.all %}
                            <tr>
                                <td>{{item.nama}}</td>
                                <td>{{item.jumlah_seharusnya}}</td>
                                <td>{{item.jumlah_asli}}</td>    
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}


    </div>
    <div class="info-tengah">
        <p class="subText">Best Seller</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nama</th>

                    <th scope="col">Jumlah</th>
                </tr>
            </thead>
            <tbody>
                {% for item in best_sellers %}
                <tr>    
                    <td>{{item.nama}}</td>
                    <td>{{item.total_penjualan}}</td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="info-kanan">
        <p class="subText">Terjual Hari Ini</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">jumlah</th>
                </tr>
            </thead>
            <tbody>
                {% for item in daily %}
                <tr>
                    <td>{{item.item.nama}}</td>
                    <td>{{item.jumlah}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}




{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js" integrity="sha256-rjYnB0Bull7k2XkbJ03UNGqMuMieR769uQVGSSlsi6A=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js" integrity="sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc=" crossorigin="anonymous"></script>
<script src="{% static 'js/dashboard_desktop.js' %}"></script>
<script type="text/javascript">
    window.addEventListener('load', chartHarian1([{{ pendapatanHarian.pendapatanToko1 }}, {{ pendapatanHarian.pendapatanToko2 }}]));
    window.addEventListener('load', chartHarian2([{{ keuntunganHarian.keuntunganToko1 }}, {{ keuntunganHarian.keuntunganToko2 }}]));
    window.addEventListener('load', chartMingguan1([
        {{pendapatanMingguan.pendapatanSenin}}, {{pendapatanMingguan.pendapatanSelasa}}, {{pendapatanMingguan.pendapatanRabu}}, {{pendapatanMingguan.pendapatanKamis}}, {{pendapatanMingguan.pendapatanJumat}}, {{pendapatanMingguan.pendapatanSabtu}}, {{pendapatanMingguan.pendapatanMinggu}}
    ]));
    window.addEventListener('load', chartMingguan2([
        {{keuntunganMingguan.keuntunganSenin}}, {{keuntunganMingguan.keuntunganSelasa}}, {{keuntunganMingguan.keuntunganRabu}}, {{keuntunganMingguan.keuntunganKamis}}, {{keuntunganMingguan.keuntunganJumat}}, {{keuntunganMingguan.keuntunganSabtu}}, {{keuntunganMingguan.keuntunganMinggu}}
    ]));
    window.addEventListener('load', chartTahunan1([
        {{pendapatanTahunan.Jan}}, {{pendapatanTahunan.Feb}}, {{pendapatanTahunan.Mar}}, {{pendapatanTahunan.Apr}}, {{pendapatanTahunan.Mei}}, {{pendapatanTahunan.Jun}}, {{pendapatanTahunan.Jul}}, {{pendapatanTahunan.Aug}}, {{pendapatanTahunan.Sep}}, {{pendapatanTahunan.Okt}}, {{pendapatanTahunan.Nov}}, {{pendapatanTahunan.Dec}}
    ]));
    window.addEventListener('load', chartTahunan2([
        {{keuntunganTahunan.Jan}}, {{keuntunganTahunan.Feb}}, {{keuntunganTahunan.Mar}}, {{keuntunganTahunan.Apr}}, {{keuntunganTahunan.Mei}}, {{keuntunganTahunan.Jun}}, {{keuntunganTahunan.Jul}}, {{keuntunganTahunan.Aug}}, {{keuntunganTahunan.Sep}}, {{keuntunganTahunan.Okt}}, {{keuntunganTahunan.Nov}}, {{keuntunganTahunan.Dec}}
    ]));
</script>
{% endblock %}