{% load staticfiles %}
{% load static %}
{% load user_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Intana {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'css/base_mobile.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %} {% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper purple darken-4">
            <a href="" class="title class="white-text">Mobile</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    
    <ul class="sidenav purple darken-4" id="mobile-demo">
        <div class="logo">
            <p class="inline" id="first">INTANA</p>
            <p class="inline" id="second">DB</p>
        </div>
        <p class="user white-text">Login as: {{request.user.username}}<p>
        <li><div class="divider"></div></li>
        {% if request.user|has_group:"staff_toko1" %} 
        <li><a href="/mobile/aPq" class="white-text">Penjualan</a></li>
        {% elif request.user|has_group:"staff_toko2" %} 
        <li><a href="/mobile/ZoI" class="white-text">Penjualan</a></li>
        {% endif %}
        <li><a href="/mobile/stock" class="white-text">Kartu Stok</a></li>
        <li><a href="/logout" class="white-text">Log Out</a></li>
    </ul>

    {% block content %}

    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/base_mobile.js' %}"></script>
    {% block script %}<!--add script-->{% endblock %}
</body>
</html>