.title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p{
   font-family: 'Roboto', sans-serif;
}

.inline {
  display: inline;
}

.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

#first{
    color: white;
}
  
#second{
    color:#84FED2;
}

.user{
    margin-left: 30px;
    margin-top: 0px;
}

li > a {
    font-family: 'Roboto', sans-serif;
}